# ::: Assignment - 2 :::

In [1]:
import pandas as pd
import re

In [2]:
#Question - 1

target_string='Python Exercises, PHP exercises.'
pattern="[^\w]"

result=re.sub(pattern,":",target_string)
print(result)

Python:Exercises::PHP:exercises:

In [3]:
#Question - 2

dict={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

df=pd.DataFrame(dict)
# df

def clean_data(text):
#   cleanData=re.sub(r'[^a-zA-W\s]', "",text)
    cleanData=re.sub(r'[^a-zA-Z]+|[X]+'," ",text)
    cleanData=cleanData.strip()
    return cleanData

df['SUMMARY']=df['SUMMARY'].apply(clean_data)
df['SUMMARY']

0      hello world
1             test
2    four five six
Name: SUMMARY, dtype: object

In [4]:
#Question - 3

target_string="Bhagat Singh, also known as Shaheed Bhagat Singh, was a Sikh revolutionary and activist who fought against British colonial rule in India. He was born on May 27, 1907, in Lahore, British India, now in Pakistan. Singh is famous for his role in the Quit India movement of 1942 and his part in planning and executing the assassination of Sir Langham Lassepsyre Curtis, a British functioning officer of the Indian National Congress, on September 28, 1942, when he was just 23 years old. He was caught and brought before a court-martial and on April 2"
pattern=re.compile("\w{4,}")


def string_long():
    for text in pattern.finditer(target_string):
        print(text.group())

string_long()

Bhagat
Singh
also
known
Shaheed
Bhagat
Singh
Sikh
revolutionary
activist
fought
against
British
colonial
rule
India
born
1907
Lahore
British
India
Pakistan
Singh
famous
role
Quit
India
movement
1942
part
planning
executing
assassination
Langham
Lassepsyre
Curtis
British
functioning
officer
Indian
National
Congress
September
1942
when
just
years
caught
brought
before
court
martial
April

In [5]:
#Question - 4

target_string="Bhagat Singh, also known as Shaheed Bhagat Singh, was a Sikh revolutionary and activist who fought against British colonial rule in India. He was born on May 27, 1907, in Lahore, British India, now in Pakistan. Singh is famous for his role in the Quit India movement of 1942 and his part in planning and executing the assassination of Sir Langham Lassepsyre Curtis, a British functioning officer of the Indian National Congress, on September 28, 1942, when he was just 23 years old. He was caught and brought before a court-martial and on April 2"
pattern=re.compile("\w{3,5}")

def stringFun():
    for text in pattern.finditer(target_string):
        print(text.group())  
        
stringFun()

Bhaga
Singh
also
known
Shahe
Bhaga
Singh
was
Sikh
revol
ution
ary
and
activ
ist
who
fough
again
Briti
colon
ial
rule
India
was
born
May
1907
Lahor
Briti
India
now
Pakis
tan
Singh
famou
for
his
role
the
Quit
India
movem
ent
1942
and
his
part
plann
ing
and
execu
ting
the
assas
sinat
ion
Sir
Langh
Lasse
psyre
Curti
Briti
funct
ionin
offic
the
India
Natio
nal
Congr
ess
Septe
mber
1942
when
was
just
years
old
was
caugh
and
broug
befor
court
marti
and
April

In [6]:
#Question - 5

target_string=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)",
"Data (Scientist)"]

pattern=re.compile(r"[\s()]")

def url():
    new_list=[]
    for text in target_string:
        string=re.sub(pattern,"",text)
        new_list.append(string)
    return new_list

url()

['example.com',
 'hr@fliprobo.com',
 'github.com',
 'HelloDataScienceWorld',
 'DataScientist']

In [7]:
#Question - 6

file_path="data.txt"

with open(file_path,"r") as file:
    file_contents=file.read()
#     print(file_contents)

pattern=re.compile("[\s()]")
    
def stringUrl():
#     for text in file_contents:
#     print(text)
    return re.sub(pattern,"",file_contents)
#     string_contents.append(string)
#     return string_contents

stringUrl()

'["example.com","hr@fliprobo.com","github.com","HelloDataScienceWorld","DataScientist"]'

In [8]:
#Question - 7

target_string="ImportanceOfRegularExpressionsInPython"

pattern=re.compile(r"[A-Z][a-z]*")
data_split = re.findall(pattern,target_string)
data_split

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [9]:
#Question - 8

target_string="RegularExpression1IsAn2ImportantTopic3InPython"

data_split=re.sub(r"(\d)",r" \1",target_string)
data_split

'RegularExpression 1IsAn 2ImportantTopic 3InPython'

In [10]:
#Question - 9

target_string="RegularExpression1IsAn2ImportantTopic3InPython"

data_split=re.sub(r"(\d)",r" \1 ",target_string)
data_split

'RegularExpression 1 IsAn 2 ImportantTopic 3 InPython'

In [11]:
#Question - 10

url="https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"

df=pd.read_csv(url)
# print(df)
df['first_five_letters']=df['Country'].str.extract(r"(\w{6})")
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,NaN
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,NaN
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,NaN

In [12]:
#Question - 11

target_string="135FarookMohammad_!@#$ &&%$$&Farook Mohammad^%$#"
pattern="[\w]+"

result=re.findall(pattern,target_string)
result

['135FarookMohammad_', 'Farook', 'Mohammad']

In [13]:
#Question - 12

target_string="1FarookMohammad_!@#$ 1&&%$$&Farook 1Mohammad^%$#"
pattern="^1+\w+"

result=re.search(pattern,target_string)
result

In [14]:
#Question - 13

target_string = "155.08.065.193"
pattern=r"\.[0]*"

result = re.sub(pattern,".",target_string)
result

'155.8.65.193'

In [44]:
#Question - 14

file_path = "data2.txt"

with open(file_path,"r") as file:
    file_contents=file.read()

print(file_contents)
pattern = r"\b(?:[A-Z][a-z]+) \d{1,2}(?:st|nd|rd|th)? \d{4}\b"
data=re.findall(pattern,file_contents)
data

 On August 15th 1947 that India was declared independent from British colonialism, and
the reins of control were handed over to the leaders of the Country

['August 15th 1947']

In [58]:
#Question - 15

literal_strings=['fox', 'dog', 'horse']
target_string="The quick brown fox jumps over the lazy dog."

for text in literal_strings:
    result=re.search(text,target_string)
    if result:
        print(text,": matched")
    else:
        print(text,": not matched")

fox : matched
dog : matched
horse : not matched

In [59]:
#Question - 16

string='fox'
target_string="The quick brown fox jumps over the lazy dog."

match = re.search(string,target_string)
start=match.start()
end=match.end()

print(string," \n ","Start : ",start,"End : " ,end)

fox
  Start :  16 End :  19

In [57]:
#Question - 17

pattern="exercises"
string="Python exercises, PHP exercises, C# exercises"

for text in re.findall(pattern,string):
    print(text)

exercises
exercises
exercises

In [70]:
#Question - 18

pattern="exercises"
string="Python exercises, PHP exercises, C# exercises"

for text in re.finditer(pattern,string):
    result=re.search(pattern,string)
    start=text.start()
    end=text.end()
    print(result.group(),"Start : ",start," End : ",end)

exercises Start :  7  End :  16
exercises Start :  22  End :  31
exercises Start :  36  End :  45

In [71]:
#Question - 19

pattern="exercises"
string="Python exercises, PHP exercises, C# exercises"

for text in re.finditer(pattern,string):
    result=re.search(pattern,string)
    start=text.start()
    end=text.end()
    print(result.group(),"Start : ",start," End : ",end)

exercises Start :  7  End :  16
exercises Start :  22  End :  31
exercises Start :  36  End :  45

In [87]:
#Question - 20

target_string="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern=re.compile(r"\b\d+\.\d{1,2}\b")
result=re.findall(pattern,target_string)
result

['01.12', '145.8', '3.01', '27.25', '0.25']

In [95]:
#Questions - 21

target_string="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern=re.compile(r"\b\d+\.\d{1,2}\b")
for match in re.finditer(pattern,target_string):
#     print(match)
    start=match.start()
    end=match.end()
    result=re.search(pattern,target_string)
    print("Matched item : ",match.group(),"\n","Start : ",start," End : ",end,"\n")

Matched item :  01.12
 Start :  0  End :  5

Matched item :  145.8
 Start :  23  End :  28

Matched item :  3.01
 Start :  29  End :  33

Matched item :  27.25
 Start :  34  End :  39

Matched item :  0.25
 Start :  40  End :  44

In [103]:
#Question - 22

target_string = "My marks in each semester are: 947, 896, 926, 524, 734, 950, 642"

def maximumNumber(target_string):
    pattern = re.compile(r"\b\d+\b")
    matches = pattern.findall(target_string)
    if matches:
        return max(map(int,matches))
    else:
        return "No number"

MaxNum=maximumNumber(target_string)

print("Maximum number : ",MaxNum)

Maximum number :  950

In [121]:
#Question - 23

target_string="RegularExpressionIsAnImportantTopicInPython"

result=re.sub(r"([A-Z][a-z]+)",r"\1 ",target_string)
# result=re.sub(r"([A-Z])[a-z]+",r"\1 ",target_string) #OUTPUT :: 'R E I A I T I P '
result

'Regular Expression Is An Important Topic In Python '

In [152]:
#Question - 24

def matchUL(text):
    pattern=r"^[A-Z][a-z]"
    if re.search(pattern,text):
        return ("matched found")
    else:
        return ("Not found")

print(matchUL("Python"))
print(matchUL("PYthon"))
print(matchUL("fR"))
print(matchUL("FRa"))

matched found
Not found
Not found
Not found

In [155]:
#Question - 25

target_string="Hello hello world world"
pattern = r"\b(\w+)\s\1\b"

result=re.sub(pattern,r"\1",target_string)
result

'Hello hello world'

In [159]:
#Question - 26

def alphaNumerical(text):
    pattern=r".*[a-zA-Z0-9]$"
    if re.match(pattern,text):
        return "Matched"
    else:
        return "Not matched"
print(alphaNumerical("Far123"))
print(alphaNumerical("125far&&"))

Matched
Not matched

In [174]:
#Question - 27

target_string="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

def hashtag():
    pattern=r"\#[\w]+"
    result = re.findall(pattern,target_string)
    return result

hashtag()

['#Doltiwal', '#xyzabc', '#Demonetization']

In [193]:
#Question - 28

target_string="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"

def hashtag_remove():
    pattern=r"<U\+[a-zA-Z0-9]+>"
    result=re.sub(pattern,"",target_string)
    return result

hashtag_remove()

'@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders'

In [194]:
#Question - 29

file_path="data3.txt"

with open(file_path,"r") as file:
    file_contents=file.read()
    
def find_date():
    pattern=r"\d{1,2}\-\d{1,2}\-\d{2,4}"
    result=re.findall(pattern,file_contents)
    return result

find_date()

['12-09-1992', '15-12-1999']

In [209]:
#Question - 30

target_string="The following example creates an ArrayList with a capacity of 50 elements.4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

def extact_four_words():
    pattern=re.compile(r"\b[a-zA-Z]{2,4}\b")
    return pattern.sub("",target_string)
    
extact_four_words()

' following example creates  ArrayList  a capacity  50 elements.4 elements   added   ArrayList   ArrayList  trimmed accordingly.'