Loan Application Status

In [48]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import warnings
warnings.filterwarnings('ignore')

In [49]:
df=pd.read_csv('Global Power Plant Database/loan_prediction.csv')

In [50]:
column_names = ['Loan_ID','Gender','Married','Dependents','Education','Self Employed','Applicant Income','Coapplicant Income','Loan Amount','Loan Amount Term','Credit History','Property Area','Loan Status']

In [51]:
df.columns = column_names

In [52]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self Employed,Applicant Income,Coapplicant Income,Loan Amount,Loan Amount Term,Credit History,Property Area,Loan Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
4,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
608,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
609,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
610,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
611,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
612,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [53]:
df.isnull().sum()

Loan_ID                0
Gender                13
Married                3
Dependents            15
Education              0
Self Employed         32
Applicant Income       0
Coapplicant Income     0
Loan Amount           21
Loan Amount Term      14
Credit History        50
Property Area          0
Loan Status            0
dtype: int64

In [54]:
label_encoder = LabelEncoder()

In [55]:
for column in df.columns:
    if df[column].dtype == 'object':
        df[column] = label_encoder.fit_transform(df[column])

In [56]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self Employed,Applicant Income,Coapplicant Income,Loan Amount,Loan Amount Term,Credit History,Property Area,Loan Status
0,0,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
1,1,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
2,2,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
3,3,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
4,4,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
608,608,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0,1
609,609,1,1,3,0,0,4106,0.0,40.0,180.0,1.0,0,1
610,610,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2,1
611,611,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2,1
612,612,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1,0

In [57]:
df.isnull().sum()

Loan_ID                0
Gender                 0
Married                0
Dependents             0
Education              0
Self Employed          0
Applicant Income       0
Coapplicant Income     0
Loan Amount           21
Loan Amount Term      14
Credit History        50
Property Area          0
Loan Status            0
dtype: int64

In [58]:
for col in df.columns:
    df.fillna(df[col].mean(),inplace=True)

In [59]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self Employed         0
Applicant Income      0
Coapplicant Income    0
Loan Amount           0
Loan Amount Term      0
Credit History        0
Property Area         0
Loan Status           0
dtype: int64

In [60]:
x = df.iloc[:,0:-1] #feature variable

In [61]:
x

,Loan_ID,Gender,Married,Dependents,Education,Self Employed,Applicant Income,Coapplicant Income,Loan Amount,Loan Amount Term,Credit History,Property Area
0,0,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0
1,1,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2
2,2,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2
3,3,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2
4,4,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
608,608,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0
609,609,1,1,3,0,0,4106,0.0,40.0,180.0,1.0,0
610,610,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2
611,611,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2
612,612,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1

In [62]:
y = df.iloc[:,-1] #target variable

In [63]:
y

0      0
1      1
2      1
3      1
4      1
      ..
608    1
609    1
610    1
611    1
612    0
Name: Loan Status, Length: 613, dtype: int32

In [64]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV

In [65]:
LR = LinearRegression()

In [66]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [67]:
LR.fit(X_train,y_train)

LinearRegression()

In [68]:
pred_y = LR.predict(X_test)

In [69]:
MSE = mean_squared_error(y_test,pred_y)

In [70]:
print("MSE :: ",round(MSE,2))

MSE ::  0.2

Hyperparameter tuning

In [71]:
model_max = LinearRegression()

In [72]:
param_grids_max = {
    'fit_intercept': [True, False]
}

In [74]:
grid_search_max = GridSearchCV(model_max,param_grids_max , cv=5, scoring='neg_mean_squared_error')

In [75]:
grid_search_max.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=LinearRegression(),
             param_grid={'fit_intercept': [True, False]},
             scoring='neg_mean_squared_error')

In [80]:
best_model_max = grid_search_max.best_estimator_
best_params_max = grid_search_max.best_params_

In [81]:
print("Best hyperparameters:", best_params_max)

Best hyperparameters: {'fit_intercept': True}

In [82]:
best_model_max.fit(X_train, y_train)

LinearRegression()

In [83]:
pred_y_max = best_model_max.predict(X_test)

In [84]:
best_score_max = grid_search_max.best_score_
print("Best score:", best_score_max)

Best score: -0.2255717120170737

In [85]:
positive_mse_max = -best_score_max

In [86]:
print("Positive mean squared error:", positive_mse_max)

Positive mean squared error: 0.2255717120170737