In [38]:
#URL Used to Get Population and Literacy fro Year 2011

# https://www.census2011.co.in/district.php?page=1

In [39]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains

In [40]:
driver =  webdriver.Chrome()
driver.maximize_window()

In [41]:
SrNo = []
DistictName = []
StateName = []
Population = []
Growth = []
SexRatio = []
Literacy = []

In [42]:
for number in range(1, 23):
    time.sleep(3)
    url = 'https://www.census2011.co.in/district.php?page=' + str(number)
    driver.get(url)

    sr_no = driver.find_elements(By.XPATH, '/html/body/div[2]/main/div/table/tbody/tr/td[1]')
    distict_name = driver.find_elements(By.XPATH, '/html/body/div[2]/main/div/table/tbody/tr/td[2]')
    state_name = driver.find_elements(By.XPATH, '/html/body/div[2]/main/div/table/tbody/tr/td[3]')
    population = driver.find_elements(By.XPATH, '/html/body/div[2]/main/div/table/tbody/tr/td[4]')
    growth = driver.find_elements(By.XPATH, '/html/body/div[2]/main/div/table/tbody/tr/td[5]')
    sex_ratio = driver.find_elements(By.XPATH, '/html/body/div[2]/main/div/table/tbody/tr/td[6]')
    literacy = driver.find_elements(By.XPATH, '/html/body/div[2]/main/div/table/tbody/tr/td[7]')

    SrNo.extend([elem.text for elem in sr_no])
    DistictName.extend([elem.text for elem in distict_name])
    StateName.extend([elem.text for elem in state_name])
    Population.extend([elem.text for elem in population])
    Growth.extend([elem.text for elem in growth])
    SexRatio.extend([elem.text for elem in sex_ratio])
    Literacy.extend([elem.text for elem in literacy])

In [43]:
print(len(SrNo),len(DistictName),len(StateName),len(Population),len(Growth),len(SexRatio),len(Literacy))

In [44]:
data={
    "Sr no":SrNo,
    "Distict Name":DistictName,
    "State Name":StateName,
    "Population":Population,
    "Growth":Growth,
    "Sex ratio":SexRatio,
    "Literacy":Literacy
}

census_2011_df = pd.DataFrame(data=data)
census_2011_df

In [45]:
census_2011_df.to_excel('census_2011_data.xlsx', index=False)
census_2011_df.to_csv('census_2011_data.csv', index=False)

In [46]:
# --  Census Data - 2001 --
# https://www.educationforallinindia.com/page163.html

In [47]:
driver =  webdriver.Chrome()
driver.maximize_window()

In [48]:
SrNo = []
ut_states = []
codes=[]
population_2001 = []

In [49]:
url = 'https://www.educationforallinindia.com/page163.html'
driver.get(url)

ut_state = driver.find_elements(By.XPATH, '/html/body/center/center/table/tbody/tr/td/center/table[2]/tbody/tr[@height="22"]/td[1]')
code = driver.find_elements(By.XPATH, '/html/body/center/center/table/tbody/tr/td/center/table[2]/tbody/tr[@height="22"]/td[2]')
population = driver.find_elements(By.XPATH, '/html/body/center/center/table/tbody/tr/td/center/table[2]/tbody/tr[@height="22"]/td[3]')

ut_states.extend([elem.text for elem in ut_state])
codes.extend([elem.text for elem in code])
population_2001.extend([elem.text for elem in population])

In [50]:
for n in range(1,633):
    SrNo.append(n)

In [51]:
max_lenth = max(len(ut_states),len(codes),len(population_2001),len(SrNo))
# max_lenth

ut_states += ["-"] * (max_lenth - len(ut_states))
codes += ["-"] * (max_lenth - len(codes))
population_2001 += ["-"] * (max_lenth - len(population_2001))
SrNo += ["-"] * (max_lenth - len(SrNo))

In [52]:
data={
    "Sr no":SrNo,
    "UT/STATE/Distict Name":ut_states,
    "Code":codes,
    "Population":population_2001,
}

census_2001_df = pd.DataFrame(data=data)
census_2001_df

,Sr no,UT/STATE/Distict Name,Code,Population
0,1,INDIA,,"1,027,015,247"
1,2,Jammu & Kashmir,01,"10,069,917"
2,3,Kupwara,01,"640,013"
3,4,Baramula,02,"1,166,722"
4,5,Srinagar,03,"1,238,530"
...,...,...,...,...
627,628,Andamans,01,"314,239"
628,629,Nicobars,02,"42,026"
629,630,Notes:,,
630,631,Source and Copy Right: Suppliment of Paper 1 o...,,
631,632,,-,-

In [53]:
census_2001_df.to_excel('census_2001_data.xlsx', index=False)
census_2001_df.to_csv('census_2001_data.csv', index=False)